.catalog {
  width: 100%;
  height: 100%;
  background-color: #eee5d7;

  .catalogheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    position: relative;
    top: 100px;
    .catalogheadercont1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 43%;
        height: 2px;
      }
      h1 {
        font-size: 50px;
        width: 35%;
        position: relative;
        left: 50px;
        top: -10px;
      }
    }
    .catalogheadercont2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 1500px;
      position: relative;
      left: -50px;
      margin-top: 20px;
      h1 {
        font-family: serif;
        cursor: pointer;
        font-size: 25px;
        margin-left: 150px;
      }
      img {
        position: relative;
        left: -200px;
      }
    }
  }
  .card {
    height: 120%;
    width: 100%;
    display: flex;
    flex-direction: row;

    margin-top: 100px;

    .cardcont {
      width: 1500px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      left: 200px;
      .cardimg {
        display: flex;
        border-radius: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 650px;
        background-color: #f6f3e2;
        margin: 100px;
        .item {
          position: relative;
          width: 300px;
          height: 400px;
          top: -50px;
          border-radius: 20px 20px 0px 0px;
        }
        .like {
          z-index: 3;
          position: relative;
          left: 100px;
          cursor: pointer;
          fill: bla;
        }
        .textcont {
          position: relative;
          left: -30px;
          width: 200px;
          top: -30px;
          h1 {
            position: relative;
            font-size: 20px;
          }

          .cost {
            font-family: serif;
            margin-top: 20px;
            font-size: 20px;
          }
        }
        button {
          width: 100px;
          height: 50px;
          background-color: #eddac7;
          position: relative;
          top: -20px;
          border-radius: 15px;
          border: 2px #c18c80 solid;
        }
        button:hover {
          background-color: #ece4db;
        }
      }
    }
  }
}
